# General information
DB_PASSWORD=thisisanultimatepassword
DB_USER=thisistheusername
DB_DRIVER=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=saga_playground

# Order service related configs
ORDER_DB_NAME=
ORDER_SERVICE_PORT=
ORDER_SERVICE_GRPC_PORT=
ORDER_SERVICE_HOST=
ORDER_MIGRATION_FILE=

# Checkout service related configs
CHECKOUT_SERVICE_PORT=
CHECKOUT_SERVICE_HOST=

# Kafka
KAFKA_HOST=
KAFKA_PORT=

# Debezium
DEBEZIUM_HOST=
DEBEZIUM_PORT=

# redis
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=""
REDIS_DB=0

# disable RYUK	
TESTCONTAINERS_RYUK_DISABLED=true

# zookeeper
ZOONAVIGATOR_PORT=
ZOOKEEPER_CLIENT_PORT=
ZOOKEEPER_CONTAINER_PORT=
ZOOKEEPER_HOST=
